@import "tailwindcss";

@theme {
  --color-primary: #4a90e2;
  --color-background: #f5f5f5;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  background-color: var(--color-background);
  color: #333;
}

.font-dynapuff {
  font-family: var(--font-dynapuff), cursive;
}


button {
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 700;
}

input {
  font-family: inherit;
  font-size: 0.9375rem;
  font-weight: 700;
}

input::placeholder {
  font-weight: 400;
}
